{% extends 'base.html'%}

{% block content %}

<div class="container">
    <header class="row">
        <div class="col-12 col-md-6" id="header-text">
            <h2> Let's build the future of hiking trail ratings together!</h2>
            <h5>Create an amazing API tool for nature lovers and developers alike</h5>
            <div>
                <button class="btn btn-primary">View Our Docs</button>
                <button class="btn btn-primary">Join Our Slack</button>
            </div>
        </div>
        <!--Header Image Area-->
        <div class="col-12 col-md-6" >
            <img src="../../static/images/undraw_server_status_5pbv.svg" alt="Hero Header Image">
        </div>

    </header>
    <!--End of Header Section-->
    <!--Start of Middle Section-->
    <section class="row">
        <div class="col-12" id="middle-text">
            <h2>Display your hiking trail opinions!</h2>
            <p>You can harness the power of an API to organize your hiking and nature reviews!</p>
        </div>
    </section>
    <!--Start of features section-->
    <section class="row" id="features-section">
        <div class="col-12 col-md-4">
            <img src="../../static/images/api.png" alt="APIimage" id="api-image">
            <h4>Dedicated API Routes</h4>
            <p>
                If you are a fan of using a traditional API routes, we have those for you!
            </p>
        </div>
        <div class="col-12 col-md-4">
            <img src="../../static/images/graphql.png" alt="GraphQL Image" id="graphql-image">
            <h4>GraphQL API Routes</h4>
            <p>
                If you want ALL data from one endpoint, we have that too!
            </p>
        </div>
        <div class="col-12 col-md-4">
            <img src="../../static/images/db.png" alt="Database Image" id="database-image">
            <h4>Backed by PostgreSQL Databaes</h4>
            <p>
                All data will be persisted inside of a secure Postgres database.
            </p>
        </div>
    </section>

    <!--End of features section-->
    <!--Begin community section-->
    <section class="row">
        <div class="col-12 col-md-6">
            <img src="../../static/images/hiking_men.png" alt="Hiking Men Image" id="Hiking-Men">
        </div>
        <div class="col-12 col-md-6">
            <h4>Talk with like minded hikers and nature lovers.</h4>
            <p>
                Talk with other devs around the world and collab 
                on projects with your data. Join our Slack community and 
                give a star to the project on Github!
            </p>
            <div>
            <button class="btn btn-primary">View on Github</button>
            <button class="btn btn-primary">Join Our Slack Channel</button>
        </div>
        </div>
    </section>
    <!--End of Community sECTION-->
    <footer class="row" id="footer">
        <div class="col-2 col-md-2">
            <img src="../../static/images/Coding Drones Logo.png" alt="Coding Drones Logo" id="footer-logo">
        </div>
        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platfrom</h4>
                <p>Enjoying the great outdoors!</p>
                <p>The Hiking Inventory Project</p>
                <p>Donate</p>
                <p>Spread the Word</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platfrom</h4>
                <p>Enjoying the great outdoors!</p>
                <p>The Hiking Inventory Project</p>
                <p>Donate</p>
                <p>Spread the Word</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platfrom</h4>
                <p>Enjoying the great outdoors!</p>
                <p>The Hiking Inventory Project</p>
                <p>Donate</p>
                <p>Spread the Word</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platfrom</h4>
                <p>Enjoying the great outdoors!</p>
                <p>The Hiking Inventory Project</p>
                <p>Donate</p>
                <p>Spread the Word</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platfrom</h4>
                <p>Enjoying the great outdoors!</p>
                <p>The Hiking Inventory Project</p>
                <p>Donate</p>
                <p>Spread the Word</p>
                <p>Our Process</p>
            </div>
        </div>
    </footer>
</div>
{% endblock content %}