/*Nav Styles */
.ct-nav{
    display: flex;
    justify-content: space-between;
}

/* Target Main Logo Image */
.ct-nav img{
    width: 25%;
    max-width: 100%;
    margin-left: 2vw;
}

ul#horizontal-list{
    min-width: 696px;
    list-style: none;
    padding-top: 20px;
}

ul#horizontal-list li, ul#horizontal-list a{
    display:inline;
    text-decoration:none;
    padding: 0.5vw;
    color:black;
}

ul#horizontal-list a:nth-last-child(1){
    border: 2px solid blue;
    border-radius: 11px;
    margin-right: 0.2vw;
}
/* End of Nav Styles */

/*start of header section*/.
#header-text{
    padding: 2vw;
}

.header-image{
    width: 52%;
    max-width: 100%;
}

/*start of middle sction*/
#middle-text{
    text-align: center;
    padding: 13vh;
}
#middle-text h2{
    padding: 1.5 vw;
}
/* End of Middle Section*/

/*Start of features section*/
#api-image,#graphql-image,#database-image{
    margin-bottom: 10vh;
}

#features-section{
    margin: 8vw;
}

/*End of Features Section*/
/* Start community section*/

#Drone-Image{
    width: 90%;
    max-width: 90%;
    margin-left: 3vh;
}
/*End of community

Start of footer section styles*/

.footer-text-flex{
    display: flex;
    flex-direction: column;
    margin-top: 3vw;
}

#footer-logo{
    width: 100%;
    max-width: 100%;
}

#footer{
    border-top: 3px solid black;
    margin-top: 20vh;
}